.banner {
    background-image: url(imagegs/background.png);
    background-size: cover;
    background-position: center;
    padding: 200px 0;
    padding-left: 100px;
}

.banner h1 {
    color: whitesmoke;
    padding-bottom: 30px;
}

.banner p {
    font-style: italic;
    color: white;
    opacity: .8;
    font-size: 20px;
    padding-bottom: 30px;
}
