.btn-primary {
    display: inline-block;
    background-color: salmon;
    padding: 16px 40px;
    border-radius: 40px;
    color: white;
    text-shadow: teal;
    box-shadow: lightseagreen;
}

.btn-primary:hover {
    opacity: 1;
    text-decoration: none;
    color: #999999;
}